* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.admin-login {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("../../images/login_banner/banner.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    background: linear-gradient(rgba(80, 105, 138, 0.877), rgba(112, 109, 109, 0.5));
    width: 350px;
    padding: 20px;
    border-radius: 15px;
}

.admin-title {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #fff;
}